<mat-accordion>
  <mat-expansion-panel *ngFor="let panel of panels" hideToggle>
    <mat-expansion-panel-header>
      <div class="header-content">
        <mat-checkbox *ngIf="panel.showCheckbox" class="checkbox"></mat-checkbox>

        <mat-panel-title>
          {{ panel.title }}
        </mat-panel-title>

        <mat-panel-description>
          {{ panel.description }}
        </mat-panel-description>

        <span class="actions">
          <button mat-icon-button (click)="onEdit(panel)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(panel)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </div>
    </mat-expansion-panel-header>

    <p>{{ panel.details }}</p>
  </mat-expansion-panel>
</mat-accordion>