.header-content {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .checkbox {
    margin-right: 8px;
  }
  
  .actions {
    margin-left: auto;
    display: flex;
    gap: 4px;
  }