<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <div class="title">
        <mat-card-title>
          <h1>My tasks</h1>
        </mat-card-title>
        <mat-card-actions>
          <app-button icon="add" label="New Task" [routerLink]="'/taskView'"></app-button>
        </mat-card-actions>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="grid-container" cdkDropListGroup>
        <div class="item">
          <h3>To Do</h3>
          <div
            cdkDropList
            #todoList="cdkDropList"
            id="todoList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[inProgressList, doneList]"
            class="example-list scrollable-list"
            (cdkDropListDropped)="drop($event)"
          >
            <app-expand-list [panels]="todo"></app-expand-list>
            <div *ngIf="(todo)?.length === 0" class="empty-placeholder">No tasks</div>
          </div>
        </div>
        <div class="item">
          <h3>In Progress</h3>
          <div
            cdkDropList
            #inProgressList="cdkDropList"
            id="inProgressList"
            [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[todoList, doneList]"
            class="example-list scrollable-list"
            (cdkDropListDropped)="drop($event)"
          >
            <app-expand-list [panels]="inProgress"></app-expand-list>
            <div *ngIf="(inProgress)?.length === 0" class="empty-placeholder">No tasks</div>
          </div>
        </div>
        <div class="item">
          <h3>Completed</h3>
          <div
            cdkDropList
            #doneList="cdkDropList"
            id="doneList"
            [cdkDropListData]="completed"
            [cdkDropListConnectedTo]="[todoList, inProgressList]"
            class="example-list scrollable-list"
            style="min-height: 50px;"
            (cdkDropListDropped)="drop($event)"
          >
            <app-expand-list [panels]="completed"></app-expand-list>
            <div *ngIf="(completed)?.length === 0" class="empty-placeholder">No tasks</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>