<h1>View All Tasks</h1>
<mat-form-field class="search">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="search" [(ngModel)]="searchTerm" (input)="onSearch()"/>
    <mat-icon *ngIf="searchTerm" matSuffix (click)="clearSearch()">close</mat-icon>
</mat-form-field>
<div class="filters">
    <div class="tags">
        <h3>Filter by Tag: </h3>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Tag selection" [multiple]="true" [(ngModel)]="selectedTags" (ngModelChange)="onTagSelectionChange()">
            <mat-chip-option *ngFor="let tag of tags" [value]="tag.id" style="width: auto; margin-top: 10px;">{{tag.name}}</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <div class="status-sort">
      <div class="status">
        <h3>Filter by Status: </h3>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Status selection" [multiple]="true" [(ngModel)]="selectedStatus" (ngModelChange)="onStatusSelectionChange()">
            <mat-chip-option [value]="'To do'" style="width: auto; margin-top: 10px; display: flex; align-items: center;">
              <span class="status-indicator status-todo"></span>
              To do
            </mat-chip-option>
            <mat-chip-option [value]="'In progress'" style="width: auto; margin-top: 10px; display: flex; align-items: center;">
              <span class="status-indicator status-progress"></span>
              In progress
            </mat-chip-option>
            <mat-chip-option [value]="'Completed'" style="width: auto; margin-top: 10px; display: flex; align-items: center;">
              <span class="status-indicator status-complete"></span>
              Completed
            </mat-chip-option>
            <mat-chip-option [value]="'Overdue'" style="width: auto; margin-top: 10px; display: flex; align-items: center;">
              <span class="status-indicator status-overdue"></span>
              Overdue
            </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div class="sort">
          <h3>Sort by: </h3>
          <mat-form-field>
              <mat-label>Select</mat-label>
              <mat-select [(ngModel)]="sortBy" (ngModelChange)="onSortChange()">
                <mat-option value="dueDate">Due Date</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
    </div>
  </div>
<app-expand-list [panels]="tasks" [showTagsInHeader]="true"></app-expand-list>
<div *ngIf="(tasks)?.length === 0" class="empty-placeholder" style="text-align: center; font-style: oblique; padding-top: 200px; font-weight: bolder;">No tasks. Add your first task today!</div>