<!-- <mat-drawer-container class="container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->

<section class="sidenav">
  <mat-list class="nav">
    <h2>My To-Do List</h2>
    <ng-container *ngFor="let route of routeLinks">
      <a
        mat-list-item
        routerLinkActive="active-link"
        class="hover"
        [routerLink]="route.link"
      >
        <p matLine>{{ route.name }}</p>
      </a>
    </ng-container>
    <!-- Add Tag Button -->
    <button mat-raised-button color="primary" class="add-tag-btn" (click)="openTagDialog()">
      <mat-icon>label</mat-icon>
      My Tags
    </button>
  </mat-list>
</section>