  .add-tag-btn {
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
    background-color: #a669b5;
    color: white;
    &:hover {
      background-color: #d1c1d5;
      cursor: pointer;
    }
  }
  
  .toggle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    &:hover {
      cursor: pointer;
    }
  }
  
  .nav {
    .active-link {
      background-color: #fafafa;
      border-left: solid 3px #d7a8e3;
    }
  
    .hover {
      transition-duration: 400ms;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-property: transform, border, background-color;
    }
  
    mat-list-item,
    a {
      border: none;
      box-sizing: border-box;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        background-color: #fafafa;
        border-left: solid 3px #a669b5;
      }
    }
    mat-icon {
      color: #a669b5;
    }
  }