<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
        <div class="title">
          <mat-card-title>
            <h1>My Progress</h1>
            <h4>Your current level: {{ level }}</h4>
          </mat-card-title>
          <mat-card-actions>
            <app-button icon="add" label="Create Reward" (click)="openDialog()"></app-button>
          </mat-card-actions>
        </div>
    </mat-card-header>
    <mat-card-content class="content">
      <app-chart [tasksDone]="tasksDone" [tasksLeft]="tasksLeft" [tasksNeeded]="tasksNeeded"></app-chart>
      <h4 style="font-size: large; text-align: center;">
        {{ tasksLeft }} task(s) left to next reward. Keep it up!
      </h4>
    </mat-card-content>
  </mat-card>
