.example-card {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.content {
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 40px;
}

.title {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.stat-headers {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}